CREATE OR REPLACE VIEW public.analytics_country_stats AS SELECT COALESCE(country, 'Unknown') as country, count(*) as total_contacts, sum(case when ai_icebreaker is not null then 1 else 0 end) as ai_enriched, sum(engagement_score) as total_engagement FROM public.marketing_leads GROUP BY COALESCE(country, 'Unknown'); CREATE OR REPLACE VIEW public.analytics_category_stats AS SELECT COALESCE(category, 'Neznámá') as category, count(*) as total_contacts FROM public.marketing_leads GROUP BY COALESCE(category, 'Neznámá');
